<div class="black">
  <div class="container">
    <div class="row">
        <div class="col-md-10">
            <img src="../../assets/img/Sem Título-2.png" width="1110">
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3 mt-3">
                <div class="col-md-4 mt-3">
                  <button  class="btn btn-info form-control" routerLink='/add'>Novo</button>
                </div>
      
                <div class="col-md-4 mt-3">
                  <button  class="btn btn-info form-control" routerLink='/editar' >Editar</button>
                </div>
        
                  <div class="col-md-4 mt-3">
                    <button  class="btn btn-outline-info form-control" routerLink='/home'>Sair</button>
                  </div>  

              </div>
        </div>
      </div>
</div>
</div>