<div class="black">
 <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <img src="../../assets/img/Sem Título-1.png" width="800">
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3 mt-3">
                <div class="col-md-6 mt-3">
                  <button  class="btn btn-outline-info form-control" routerLink='/cadastrar'>Cadastrar</button>
                </div>
      
                <div class="col-md-6 mt-3">
                  <button  class="btn btn-info form-control" routerLink='/login'>Entrar</button>
                </div>        
              </div>
        </div>
      </div>
</div>
</div>